:root {
  --dark-green: #004643;
  --sage: #abd1c6;
  --white: #fffffe;
  --green: #709775;
  --pink: #e8b4b8;
  --black: #000000;
}

*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  background-color: var(--dark-green);
}

h1 {
  color: var(--white);
  margin: 0 auto 70px;
  font-size: 60px;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--sage);
}

@media (max-width: 767px) {
  h1 {
    font-size: 11vw !important;
    margin-top: 20px;
  }

  .project-title {
    font-size: 6vw;
  }
}

/*General*/

/*Main Style*/

.project-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

img {
  display: block;
  width: 100%;
  box-shadow: 0 0 8px 3px black;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/*Links Style*/

a {
  text-decoration: none;
  color: var(--sage);
}

a:visited {
  text-decoration: none;
  color: var(--sage);
}

a:hover {
  text-decoration: none;
  color: var(--pink);
}

.project-title:hover {
  color: var(--sage);
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
  text-decoration: underline;
  text-decoration-color: var(--sage);
}

/* APP */

@media (max-width: 767px) {
  h1 {
    font-size: 11vw !important;
    margin-top: 20px;
  }

  .project-title {
    font-size: 6vw;
  }

  .projects-grid {
    width: 90%;
  }
}
